<!DOCTYPE html>
<html lang="en">
<% include ./ejs/head %>

    <body>



        <% if (propiedades===null) { %>
            <div class="cover" id="coverPropiedades" style="height: 100vh;">
                <% include ./ejs/header %>

                    <h1 style="color:white; display: flex; justify-content: center; align-items: center;">No hay
                        propiedades para esta categoria</h1>

                    <% } else {%>
                        <div class="cover" id="coverPropiedades">
                            <% include ./ejs/header %>
                                <div class="coverPropiedadesText">

                                    <% switch (propiedades[0].tipo.nombre + "s" ) 
                                    { case 'Casas' : %>
                                        <span class="material-symbols-outlined" style="font-size: 5rem; color:white">
                                            house
                                        </span>
                                        <% break; 
                                    case 'Departamentos' : %>
                                        <span class="material-symbols-outlined" style="font-size: 5rem; color:white">
                                            apartment
                                        </span>
                                        <% break; 
                                    case 'Fideicomiso' : %>
                                        <span class="material-symbols-outlined" style="font-size: 5rem; color:white">
                                            partner_exchange
                                        </span>
                                        <% break; 
                                    case 'Proyecto' : %>
                                        <span class="material-symbols-outlined" style="font-size: 5rem; color:white">
                                            foundation
                                        </span>
                                        <% break;  
                                    case 'Local' : %>
                                        <span class="material-symbols-outlined" style="font-size: 5rem; color:white">
                                            storefront
                                        </span>
                                        <% break; default: %>
                                        <p></p>
                                        <% } %>

                                    <h1>
                                        <%= propiedades[0].tipo.nombre + "s" %>
                                    </h1>
                                </div>

                        </div>


                        <section class="listed-properties">
                            <h2 class="main-properties-title"></h2>


                            <div class="cards" id="cards">


                                <% propiedades.forEach(propiedad=> { %>
                                    <div class="card">
                                        <div class="swiper">
                                            <div class="swiper-wrapper">
                                                <% propiedad.fotos.forEach(foto=> { %>
                                                    <div class="swiper-slide">
                                                        <img loading="lazy" class="swiper-slide-img"
                                                            src="/images/propiedades/<%= foto.nombre %>" alt="">
                                                    </div>
                                                    <% }) %>

                                            </div>
                                            <!-- If we need navigation buttons -->
                                            <div class="swiper-button-prev"></div>
                                            <div class="swiper-button-next"></div>
                                        </div>

                                        <p class="card-condition">
                                            <%= propiedad.condicione.nombre %>
                                                <button class="mas-btn" data-propiedad-id=<%=propiedad.id %>>Ver mas</button>
                                        </p>
                                        <div class="card-description">
                                            <p class="card-description-type">
                                                <%= propiedad.tipo.nombre %>
                                            </p>
                                            <p class="card-description-name">
                                                <%= propiedad.nombre %>
                                            </p>
                                            <p class="card-description-price">
                                                Precio: USD <%= propiedad.precio %>
                                            </p>
                                            <p class="card-description-specs">
                                                <%= propiedad.descripcioncorta %>
                                            </p>

                                        </div>
                                    </div>
                                    <% }) %>
                            </div>





                        </section>


                        <% include ./ejs/footer %>
                            <% } %>






                                <script src=" https://cdn.jsdelivr.net/npm/swiper@9.3.2/swiper-bundle.min.js"></script>
                                <script>

                                    const swipers = Array.from(document.querySelectorAll('.swiper'));

                                    swipers.forEach(swiper => {
                                        new Swiper(swiper, {
                                            // Configuración de Swiper para cada swiper individual
                                            direction: 'horizontal',
                                            loop: true,
                                            // ... otras opciones
                                            // If we need pagination
                                            pagination: {
                                                el: swiper.querySelector('.swiper-pagination'),
                                            },

                                            // Navigation arrows
                                            navigation: {
                                                nextEl: swiper.querySelector('.swiper-button-next'),
                                                prevEl: swiper.querySelector('.swiper-button-prev'),
                                            },

                                            // And if we need scrollbar
                                            scrollbar: {
                                                el: swiper.querySelector('.swiper-scrollbar'),
                                            },
                                        });
                                    });

                                </script>
                                <script src="/javascripts/propiedades.js"></script>
                                <script src="/javascripts/index.js"></script>



    </body>

</html>